<div class="container">
  <nav>
    <ul class="pagination paginationUl">
      <li class="page-item"  [ngClass]="{disabled:currentPage ===0}">
        <a (click)="currentPage=currentPage-1" class="page-link">Önceki</a>
      </li>

      <ng-container *ngFor="let image of images; let i = index">
        <li class="page-item" [ngClass]="{active:i ===currentPage}" *ngIf="pageIndex(i)">
          <a (click)="currentPage=i" class="page-link" href="#">{{i+1}}</a>
        </li>
      </ng-container>

      <li class="page-item" [ngClass]="{disabled:currentPage === images.length-1}">
        <a (click)="currentPage=currentPage+1" class="page-link">Sonraki</a>
      </li>
    </ul>
  </nav>

  <div class="mainImg">
    <h4 appFirst [backgroundColor]="'red'" style="color:black">{{images[currentPage].title}}</h4>
    <img class="Img" [src]="images[currentPage].url">
  </div>
  <!-- <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      İlk sayfadasın
    </div>
    <div *ngSwitchCase="1">
      İkinci sayfadasın
    </div>
    <div *ngSwitchCase="2">
      Üçüncü sayfadasın
    </div>
    <div *ngSwitchDefault>
      İlk İkinci  veya üçüncü sayfada değilsin
</div>
    ngSwitch kullanma mantığı bu şekilde.
  </div> -->

</div>


<!-- [ngClass]="{active:i ===currentPage}" şuanda kullandığımız [ngClass]="i=== currentPage ? 'active' : 'passive'"ngClass yapısının diğer bir kullanımı-->